.navbar-brand{
  color: white; 
    margin-left: 20px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: #06a19a;
    font-family: sans-serif;
}

.dropdown-menu .dropdown-item{
  color: black; 
    margin-right: 20px;
}